Assignment_end_to_end_local.json
[{"id":"3eea4421.a8739c","type":"rpi-sensehatsim in","z":"32bda9ca.209716","name":"Environment","motion":false,"env":true,"stick":true,"x":90,"y":500,"wires":[["2f81d3cd.a4573c"]]},{"id":"a231ac30.f4e8d","type":"rpi-sensehatsim out","z":"32bda9ca.209716","name":"","x":820,"y":800,"wires":[]},{"id":"610fe460.38cf6c","type":"wiotp out","z":"32bda9ca.209716","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"4f42f924.ba0678","deviceType":"senseHat","deviceId":"sengateway1","event":"event","format":"json","qos":"","name":"","x":790,"y":500,"wires":[]},{"id":"f0f5b4ed.938448","type":"function","z":"32bda9ca.209716","name":"format","func":"msg.payload = {\"temperature\":flow.get(\"sen_temp\"),\"humidity\":flow.get(\"sen_humidity\")};\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["b9b95bac.0f2c68","610fe460.38cf6c","4aecefa1.f6d68"]]},{"id":"b9b95bac.0f2c68","type":"debug","z":"32bda9ca.209716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":600,"wires":[]},{"id":"2f81d3cd.a4573c","type":"function","z":"32bda9ca.209716","name":"set_flow","func":"flow.set(\"sen_temp\", msg.payload.temperature)\nflow.set(\"sen_humidity\", msg.payload.humidity)","outputs":1,"noerr":0,"x":300,"y":380,"wires":[[]]},{"id":"beb8a061.fc28b","type":"exec","z":"32bda9ca.209716","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":300,"wires":[["f0ebf3ac.64838"],[],[]]},{"id":"72d26d25.fb45a4","type":"inject","z":"32bda9ca.209716","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["beb8a061.fc28b"]]},{"id":"fcd5a372.52c45","type":"wiotp in","z":"32bda9ca.209716","authType":"g","deviceKey":"4f42f924.ba0678","deviceType":"senseHat","deviceId":"sengateway1","command":"+","commandType":"d","qos":0,"name":"","x":90,"y":800,"wires":[["e1c3bd94.b82cd","d07bf0b7.834a6"]]},{"id":"83c7683f.39d1d8","type":"debug","z":"32bda9ca.209716","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":900,"wires":[]},{"id":"e1c3bd94.b82cd","type":"function","z":"32bda9ca.209716","name":"getCommand","func":"if (msg.payload.screen.localeCompare(\"off\") === 0){\n    msg.payload = 0;\n}\nelse{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":860,"wires":[[]]},{"id":"d07bf0b7.834a6","type":"function","z":"32bda9ca.209716","name":"getCommand","func":"var pixel =[\"1,2\"]\n\nif (msg.payload.screen.localeCompare(\"off\") === 0){\n    msg.payload = \"*,*,#008000,\"+ flow.get(\"LED_matrix\");\n}\nelse{\n    msg.payload = \"*,*,#800000,\"+ flow.get(\"LED_matrix\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":800,"wires":[["a231ac30.f4e8d","83c7683f.39d1d8"]]},{"id":"eec30ccd.dc59b","type":"wiotp out","z":"32bda9ca.209716","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"4f42f924.ba0678","deviceType":"raspberryGW","deviceId":"gateway1","event":"event","format":"json","qos":"","name":"","x":790,"y":420,"wires":[]},{"id":"f0ebf3ac.64838","type":"function","z":"32bda9ca.209716","name":"format_temp","func":"var temperature = msg.payload.match(/[+-]?\\d+(?:\\.\\d+)?/g).map(Number);\nmsg.payload = {'d': {\"temp\" : temperature[0]}}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["eec30ccd.dc59b"]]},{"id":"a31cec50.4dad","type":"inject","z":"32bda9ca.209716","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":500,"wires":[["f0f5b4ed.938448"]]},{"id":"4aecefa1.f6d68","type":"function","z":"32bda9ca.209716","name":"t_to_led","func":"var pixelArray = [\"1,2,#C0C0C0\",\"1,2,#C0C0C0,2,2,#C0C0C0\",\"1,2,#C0C0C0,2,2,#C0C0C0,1,3,#C0C0C0\",\"1,2,#C0C0C0,2,2,#C0C0C0,1,3,#C0C0C0,2,3,#C0C0C0\"];\nvar temp = msg.payload.temperature;\nvar mostSig = (temp - (temp % 10))/10;\n\nmsg.payload = pixelArray[mostSig-1];\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":680,"wires":[["937adf6d.3d86","74570338.773e6c"]]},{"id":"937adf6d.3d86","type":"debug","z":"32bda9ca.209716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":660,"wires":[]},{"id":"74570338.773e6c","type":"function","z":"32bda9ca.209716","name":"set_flow","func":"flow.set(\"LED_matrix\", msg.payload)\n","outputs":1,"noerr":0,"x":980,"y":720,"wires":[[]]},{"id":"17d08c3e.02ee44","type":"inject","z":"32bda9ca.209716","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":80,"wires":[["416011c0.11ba3"]]},{"id":"f77c8848.463088","type":"function","z":"32bda9ca.209716","name":"format","func":"var temperature = msg.payload.match(/[+-]?\\d+(?:\\.\\d+)?/g).map(Number);\nmsg.payload = {'d': {\"temp\" : temperature[0]}}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":80,"wires":[[]]},{"id":"5ea39d07.7a8fa4","type":"debug","z":"32bda9ca.209716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":180,"wires":[]},{"id":"416011c0.11ba3","type":"exec","z":"32bda9ca.209716","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":80,"wires":[["f77c8848.463088"],[],[]]},{"id":"4f42f924.ba0678","type":"wiotp-credentials","z":"","name":"RasPi Gateway","org":"4vwckx","serverName":"4vwckx.messaging.internetofthings.ibmcloud.com","devType":"raspberryGW","devId":"gateway1","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
