assignment1.txt
[{"id":"78131dc3.c9e0a4","type":"inject","z":"801aa43f.f24e38","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":153.10000610351562,"y":204,"wires":[["6b27330.b4adacc"]]},{"id":"6b27330.b4adacc","type":"random","z":"801aa43f.f24e38","name":"","low":"1","high":"10","inte":"true","property":"payload","x":358.1000061035156,"y":203.00000190734863,"wires":[["130d2d88.714cb2"]]},{"id":"130d2d88.714cb2","type":"function","z":"801aa43f.f24e38","name":"Threshold","func":"random = msg.payload;\nif(random > 4){\n    msg.payload = \"Number \"+ msg.payload.toString()+\" is a high number\"\n}\nelse{\n    msg.payload =  \"Number \"+ msg.payload.toString()+\" is a low number\"\n}\nreturn msg","outputs":1,"noerr":0,"x":551.1000366210938,"y":205,"wires":[["e050d57f.4651d8"]]},{"id":"e050d57f.4651d8","type":"debug","z":"801aa43f.f24e38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":733.1000366210938,"y":201,"wires":[]}]