assignment5.txt
[{"id":"3eea4421.a8739c","type":"rpi-sensehatsim in","z":"32bda9ca.209716","name":"Environment","motion":false,"env":true,"stick":true,"x":70,"y":340,"wires":[["2f81d3cd.a4573c"]]},{"id":"a231ac30.f4e8d","type":"rpi-sensehatsim out","z":"32bda9ca.209716","name":"","x":800,"y":640,"wires":[]},{"id":"610fe460.38cf6c","type":"wiotp out","z":"32bda9ca.209716","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"4f42f924.ba0678","deviceType":"senseHat","deviceId":"sengateway1","event":"event","format":"json","qos":"","name":"","x":770,"y":340,"wires":[]},{"id":"f0f5b4ed.938448","type":"function","z":"32bda9ca.209716","name":"format","func":"msg.payload = {\"temperature\":flow.get(\"sen_temp\"),\"humidity\":flow.get(\"sen_humidity\")};\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["b9b95bac.0f2c68","610fe460.38cf6c","4aecefa1.f6d68"]]},{"id":"b9b95bac.0f2c68","type":"debug","z":"32bda9ca.209716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":440,"wires":[]},{"id":"2f81d3cd.a4573c","type":"function","z":"32bda9ca.209716","name":"set_flow","func":"flow.set(\"sen_temp\", msg.payload.temperature)\nflow.set(\"sen_humidity\", msg.payload.humidity)","outputs":1,"noerr":0,"x":280,"y":220,"wires":[[]]},{"id":"beb8a061.fc28b","type":"exec","z":"32bda9ca.209716","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":140,"wires":[["f0ebf3ac.64838"],[],[]]},{"id":"72d26d25.fb45a4","type":"inject","z":"32bda9ca.209716","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["beb8a061.fc28b"]]},{"id":"fcd5a372.52c45","type":"wiotp in","z":"32bda9ca.209716","authType":"g","deviceKey":"4f42f924.ba0678","deviceType":"senseHat","deviceId":"sengateway1","command":"+","commandType":"d","qos":0,"name":"","x":70,"y":640,"wires":[["e1c3bd94.b82cd","d07bf0b7.834a6"]]},{"id":"83c7683f.39d1d8","type":"debug","z":"32bda9ca.209716","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":740,"wires":[]},{"id":"e1c3bd94.b82cd","type":"function","z":"32bda9ca.209716","name":"getCommand","func":"if (msg.payload.screen.localeCompare(\"off\") === 0){\n    msg.payload = 0;\n}\nelse{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[[]]},{"id":"d07bf0b7.834a6","type":"function","z":"32bda9ca.209716","name":"getCommand","func":"if (msg.payload.screen.localeCompare(\"off\") === 0){\n    msg.payload = \"*,*,#008000,\"+ flow.get(\"LED_matrix\")[0]+\",\"+flow.get(\"LED_matrix\")[1];\n}\nelse if(msg.payload.screen.localeCompare(\"on\") === 0){\n    msg.payload = \"*,*,#800000,\"+ flow.get(\"LED_matrix\")[0]+\",\"+flow.get(\"LED_matrix\")[1];\n}\nelse msg.payload = \"*,*,#000000\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["a231ac30.f4e8d","83c7683f.39d1d8"]]},{"id":"eec30ccd.dc59b","type":"wiotp out","z":"32bda9ca.209716","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"4f42f924.ba0678","deviceType":"raspberryGW","deviceId":"gateway1","event":"event","format":"json","qos":"","name":"","x":770,"y":260,"wires":[]},{"id":"f0ebf3ac.64838","type":"function","z":"32bda9ca.209716","name":"format_temp","func":"var temperature = msg.payload.match(/[+-]?\\d+(?:\\.\\d+)?/g).map(Number);\nmsg.payload = {'d': {\"temp\" : temperature[0]}}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["eec30ccd.dc59b"]]},{"id":"a31cec50.4dad","type":"inject","z":"32bda9ca.209716","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":340,"wires":[["f0f5b4ed.938448"]]},{"id":"4aecefa1.f6d68","type":"function","z":"32bda9ca.209716","name":"t_to_led","func":"var pixelArray = [\"1,2,#C0C0C0\", \"1,2,#C0C0C0,2,2,#C0C0C0\", \"1,2,#C0C0C0,2,2,#C0C0C0,1,3,#C0C0C0\", \"1,2,#C0C0C0,2,2,#C0C0C0,1,3,#C0C0C0,2,3,#C0C0C0\", \"1,2,#C0C0C0,2,2,#C0C0C0,1,3,#C0C0C0,2,3,#C0C0C0,1,4,#C0C0C0\", \"1,2,#C0C0C0,2,2,#C0C0C0,1,3,#C0C0C0,2,3,#C0C0C0,1,4,#C0C0C0,2,4,#C0C0C0\", \"1,2,#C0C0C0,2,2,#C0C0C0,1,3,#C0C0C0,2,3,#C0C0C0,1,4,#C0C0C0,2,4,#C0C0C0,1,5,#C0C0C0\", \"1,2,#C0C0C0,2,2,#C0C0C0,1,3,#C0C0C0,2,3,#C0C0C0,1,4,#C0C0C0,2,4,#C0C0C0,1,5,#C0C0C0,2,5,#C0C0C0\" ];\nvar pixelArray2 = [\"5,2,#C0C0C0\", \"5,2,#C0C0C0,6,2,#C0C0C0\", \"5,2,#C0C0C0,6,2,#C0C0C0,5,3,#C0C0C0\", \"5,2,#C0C0C0,6,2,#C0C0C0,5,3,#C0C0C0,6,3,#C0C0C0\", \"5,2,#C0C0C0,6,2,#C0C0C0,5,3,#C0C0C0,6,3,#C0C0C0,5,4,#C0C0C0\", \"5,2,#C0C0C0,6,2,#C0C0C0,5,3,#C0C0C0,6,3,#C0C0C0,5,4,#C0C0C0,6,4,#C0C0C0\", \"5,2,#C0C0C0,6,2,#C0C0C0,5,3,#C0C0C0,6,3,#C0C0C0,5,4,#C0C0C0,6,4,#C0C0C0,5,5,#C0C0C0\", \"5,2,#C0C0C0,6,2,#C0C0C0,5,3,#C0C0C0,6,3,#C0C0C0,5,4,#C0C0C0,6,4,#C0C0C0,5,5,#C0C0C0,6,5,#C0C0C0\" ];\nvar temp = msg.payload.temperature;\nvar mostSig = (temp - (temp % 10))/10;\nvar leastSig = Math.floor(temp%10);\nmsg.payload = [pixelArray[mostSig-1], pixelArray2[leastSig-1]];\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["937adf6d.3d86","74570338.773e6c"]]},{"id":"937adf6d.3d86","type":"debug","z":"32bda9ca.209716","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":680,"wires":[]},{"id":"74570338.773e6c","type":"function","z":"32bda9ca.209716","name":"set_flow","func":"flow.set(\"LED_matrix\", msg.payload)\n","outputs":1,"noerr":0,"x":980,"y":720,"wires":[[]]},{"id":"4f42f924.ba0678","type":"wiotp-credentials","z":"","name":"RasPi Gateway","org":"4vwckx","serverName":"4vwckx.messaging.internetofthings.ibmcloud.com","devType":"raspberryGW","devId":"gateway1","keepalive":"60","cleansession":true,"tls":"","usetls":false}]