assignment3.txt
[{"id":"a08ffed.974a2","type":"wiotp out","z":"32bda9ca.209716","authType":"d","qs":"true","qsDeviceId":"a08ffed.974a2","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":870,"y":300,"wires":[]},{"id":"88176633.e76348","type":"inject","z":"32bda9ca.209716","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":300,"wires":[["c0e014da.3e51f8"]]},{"id":"ef6b126.a0f5df","type":"function","z":"32bda9ca.209716","name":"format","func":"var temperature = msg.payload.match(/[+-]?\\d+(?:\\.\\d+)?/g).map(Number);\nmsg.payload = {'d': {\"temp\" : temperature[0]}}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["a08ffed.974a2","59886009.9a374"]]},{"id":"59886009.9a374","type":"debug","z":"32bda9ca.209716","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":400,"wires":[]},{"id":"c0e014da.3e51f8","type":"exec","z":"32bda9ca.209716","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":300,"wires":[["ef6b126.a0f5df"],[],[]]}]