week3-assignment2_Bluemix.txt
[{"id":"de83be64.ac485","type":"ibmiot in","z":"801aa43f.f24e38","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":129.1000213623047,"y":115.00001335144043,"wires":[["31567bcb.59e0a4","650ed9ac.95b5b8"]]},{"id":"31567bcb.59e0a4","type":"debug","z":"801aa43f.f24e38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":457.1000518798828,"y":283.00001335144043,"wires":[]},{"id":"650ed9ac.95b5b8","type":"switch","z":"801aa43f.f24e38","name":"","property":"payload.d.temperature","propertyType":"msg","rules":[{"t":"gt","v":"29","vt":"num"},{"t":"lte","v":"29","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":385.1000556945801,"y":102.00000095367432,"wires":[["e01392f3.b2578"],["46173e13.c8c3e"]]},{"id":"50f130a7.d26e7","type":"ibmiot out","z":"801aa43f.f24e38","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sengateway1","deviceType":"senseHat","eventCommandType":"display","format":"json","data":"{\"screen\":\"on\"}","qos":0,"name":"IBM IoT","service":"registered","x":818.1000595092773,"y":72.00000667572021,"wires":[]},{"id":"8ce13099.eec2","type":"ibmiot out","z":"801aa43f.f24e38","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sengateway1","deviceType":"senseHat","eventCommandType":"display","format":"json","data":"{\"screen\":\"off\"}","qos":0,"name":"IBM IoT","service":"registered","x":823.0000114440918,"y":128.00000190734863,"wires":[]},{"id":"e01392f3.b2578","type":"function","z":"801aa43f.f24e38","name":"Screen On","func":"msg.payload = {\"screen\":\"on\"}\nreturn msg;","outputs":1,"noerr":0,"x":629.1000518798828,"y":65.00000667572021,"wires":[["50f130a7.d26e7","dddda3b8.a1d8b"]]},{"id":"46173e13.c8c3e","type":"function","z":"801aa43f.f24e38","name":"Screen Off","func":"msg.payload = {\"screen\":\"off\"}\nreturn msg;","outputs":1,"noerr":0,"x":635.0000076293945,"y":121.00000190734863,"wires":[["8ce13099.eec2","69f2af45.c24e6"]]},{"id":"dddda3b8.a1d8b","type":"debug","z":"801aa43f.f24e38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":823.1000366210938,"y":23,"wires":[]},{"id":"69f2af45.c24e6","type":"debug","z":"801aa43f.f24e38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":834.1000366210938,"y":212,"wires":[]}]