Week2-assignment2.txt
[{"id":"aa95e005.b9f93","type":"http in","z":"801aa43f.f24e38","name":"","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":116.10000610351562,"y":238.00000381469727,"wires":[["93f9c8a4.83eb08"]]},{"id":"93f9c8a4.83eb08","type":"random","z":"801aa43f.f24e38","name":"","low":"1","high":"10","inte":"true","property":"payload","x":287.1000785827637,"y":239.00000381469727,"wires":[["2c3ea6c5.28fd3a","78fd53fa.9bae4c"]]},{"id":"3936a0df.f673b","type":"http response","z":"801aa43f.f24e38","name":"","statusCode":"","headers":{},"x":939.1000595092773,"y":236.00000286102295,"wires":[]},{"id":"7e9c334d.af607c","type":"function","z":"801aa43f.f24e38","name":"Headers","func":"msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;","outputs":1,"noerr":0,"x":777.1000595092773,"y":236.00000381469727,"wires":[["3936a0df.f673b"]]},{"id":"2c3ea6c5.28fd3a","type":"template","z":"801aa43f.f24e38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"random\" : {{payload}}}\n","output":"str","x":625.1000576019287,"y":235.00000286102295,"wires":[["7e9c334d.af607c"]]},{"id":"d5902a1b.a02de8","type":"function","z":"801aa43f.f24e38","name":"Time","func":"var now = new Date();\nvar hours = now.getHours();\nvar minutes = now.getMinutes();\nif (hours < 10 ){\n    msg.payload = \"0\"+ hours+ \" : \" +minutes\n}\nelse {\n    msg.payload = hours+ \" : \" +minutes\n}\nreturn msg;","outputs":1,"noerr":0,"x":334.1000061035156,"y":330.00000762939453,"wires":[["70aa592e.1b7288","9b89759f.160168"]]},{"id":"b3d8addf.d687c","type":"function","z":"801aa43f.f24e38","name":"Headers","func":"msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg;","outputs":1,"noerr":0,"x":687.0000076293945,"y":328.0000047683716,"wires":[["1658aaa7.662c05"]]},{"id":"1658aaa7.662c05","type":"http response","z":"801aa43f.f24e38","name":"","statusCode":"","headers":{},"x":865.1000366210938,"y":327,"wires":[]},{"id":"e44084e0.b96338","type":"http in","z":"801aa43f.f24e38","name":"","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":137.10000610351562,"y":333,"wires":[["d5902a1b.a02de8"]]},{"id":"70aa592e.1b7288","type":"template","z":"801aa43f.f24e38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"time\": \"{{payload}}\"}\n","output":"str","x":500.00000762939453,"y":328.00000381469727,"wires":[["b3d8addf.d687c"]]},{"id":"78d8d674.afbfa8","type":"http in","z":"801aa43f.f24e38","name":"","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":128.10000610351562,"y":107,"wires":[["8855f512.c74cc8"]]},{"id":"fad34c69.f30e6","type":"template","z":"801aa43f.f24e38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"time\" : {{last_random_time}}}\n{\"random\" : {{last_random}}}\n","output":"str","x":631,"y":101,"wires":[["e780de46.db663"]]},{"id":"e780de46.db663","type":"http response","z":"801aa43f.f24e38","name":"","statusCode":"","headers":{},"x":860.0000152587891,"y":95.00000190734863,"wires":[]},{"id":"8855f512.c74cc8","type":"function","z":"801aa43f.f24e38","name":"retrieve_flow","func":"msg.last_random_time = flow.get(\"last_random_time\")\nmsg.last_random = flow.get(\"last_random\")\nreturn msg;","outputs":1,"noerr":0,"x":381.1000061035156,"y":103,"wires":[["fad34c69.f30e6"]]},{"id":"78fd53fa.9bae4c","type":"function","z":"801aa43f.f24e38","name":"set_flow","func":"var now = new Date();\nvar hours = now.getHours();\nvar minutes = now.getMinutes();\nif (hours < 10 ){\n    hours = \"0\"+ hours\n}\n\nflow.set(\"last_random_time\", hours+\" : \" + minutes);\nflow.set(\"last_random\", msg.payload)\n","outputs":1,"noerr":0,"x":450.10003662109375,"y":173,"wires":[[]]},{"id":"9b89759f.160168","type":"function","z":"801aa43f.f24e38","name":"set_flow","func":"flow.set(\"last_time\", msg.payload)\n","outputs":1,"noerr":0,"x":448,"y":431,"wires":[[]]}]